---
import type {Playlist} from "../libreria/data"
import { CardPlayButton } from "./CardPlayButton"

interface Props {
  playlist: Playlist;
}

const { playlist } = Astro.props
const {
  id,cover,title,artists,color
} = playlist

const artistString = artists.join(", ")
---
<article class="group relative hover:bg-zinc-800 shadow-lg hover:shadow-xl bg-zinc-500/30 
rounded-md transition-all duration-300 w-44">

  <div
    class="absolute right-4 bottom-20 translate-y-4
    transition-all duration-500 opacity-0
    group-hover:translate-y-0 group-hover:opacity-100
    z-10"
  >
    <CardPlayButton id={id} client:visible />
  </div>

  <a
    href={`/playlist/${id}`}
    class="playlist-item flex transition-all duration-300 relative p-2 overflow-hidden 
    gap-2 pb-6 w-full flex-col"
    transition:name=`playlist ${id} box`
  >
    <picture class="aspect-square w-full h-auto flex-none">
      <img
        src={cover}
        alt={`Cover of ${title} by ${artistString}`}
        class="object-cover w-full h-full rounded-md"
        transition:name=`playlist ${id} image`
      />
    </picture>

    <div class="flex flex-auto flex-col px-2">
      <h4 class="text-white text-sm" transition:name=`playlist ${playlist?.id} title`>
        {title}
      </h4>

      <span class="text-xs text-gray-400" transition:name=`playlist ${id} artists`>
        {artistString}
      </span>
    </div>
  </a>
</article>

<style>
  @media (max-width: 767px) {
    article {
      width: 80%;
      max-width: 250px;
      margin: 0 auto;
    }

    article .absolute {
      opacity: 1;
      transform: translateY(0);
    }

    article h4 {
      font-size: 1rem;
      font-weight: bold;
    }

    article span {
      font-size: 0.875rem;
    }
  }
</style>